extends layout

block content
    if msg
        .alert.w-25.card.p-3(data-msg-status= msg.status)= msg.msg
    .container
        .row
            .col-md-6.pr-5.pt-5
                h3.pb-3 Add New Video
                form.mt-5(action="" method="POST" enctype="multipart/form-data")
                    div.md-form
                        input( type="text" name="title" id="title" class="form-control  mdb-autocomplete")
                        label(for="videoTitle" class="active") Video Title
                    div.input-group.pt-4
                        div.input-group-prepend.w-100
                            span(class="input-group-text px-4 btn-orange" id="inputGroupFileAddon01")
                                i(class="fas fa-cloud-upload-alt")
                            div.custom-file
                                input(type="file" name="videoFile" class="custom-file-input" id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01")
                                label(class="custom-file-label" for="inputGroupFile01") Uploade video
                    button(type="submit" class="btn btn-teal d-block mt-5 mx-auto") add video
            .col-md-6.pt-5
                h3.pb-3 Video Uploaded
                table.table.table-striped
                    thead.teal
                        tr
                            th(scope="col") id
                            th(scope="col") title
                            th(scope="col") Upload time 
                            th(scope="col") Action
                    tbody
                        each item in data
                            -var d = new Date(item.date).toDateString()
                            -var t = new Date(item.date).toLocaleTimeString()
                            -var s = d +  ' '+ t
                            tr
                                th(scope="row")= item.id
                                td= item.title
                                td= s
                                td.pt-1
                                    a.btn.btn-danger.btn-sm(href='/delede/' + item.id) delet
    

    