extends layout

block content
  .container
    .row
      .col-md-8.pr-5
        video( src="https://mdbootstrap.com/img/video/Sail-Away.mp4" class="video-fluid lecter z-depth-1" autoplay loop controls  )
      .col-md-4.pl-5
        ul(class="list-unstyled")
          each item in videsData
            li.media
              button.w-100(onclick="playPause()" data-video='assets/video/' + item.id + '-video.' + item.videoName.split('.')[1], class="btn btn-outline-success text-left open pl-4") 
                .row
                  .col-md-2
                    i(class="far fa-play-circle mr-5" style="font-size: 18px")
                  .col-md-10
                    span.col-md-8=item.title
               
    
