doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/all.css')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/mdb.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    link(rel="shortcut icon", href="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-round-2/254000/92-512.png", 
    type="image/ico")
    script(src="/assets/js/jquery-3.4.1.min.js")
    script(src="/assets/js/main.js")
  body
    .navbar.fixed-top.navbar-leyth
      .navbar-brand
        img.mr-4(width="45"  src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-round-2/254000/92-512.png")
        |lecter video #[i.fa.fa-home] #{title}
      a(href="/" class="btn btn-sm btn-success float-right")
        i.fa.fa-home.mr-3
        |home
    .mt-5.pt-5
      block content
