doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/all.css')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/mdb.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    link(rel="shortcut icon", href="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-round-2/254000/92-512.png", 
    type="image/ico")
    script(src="/assets/js/jquery-3.4.1.min.js")
    script(src="/assets/js/main.js")
  body
    .navbar.navbar-leyth
      .navbar-brand
        img.mr-4(width="30"  src="https://i.ya-webdesign.com/images/orange-video-icon-png-3.png")
        | MovieTube
      a(href="/" class="btn btn-sm btn-orange float-right")
        i.fa.fa-home.mr-3
        |home
    block content
        
